$white: #ffffff;
$light_two: #F3F5F7;
$light_three: #E3E7ED;
$pos-green: #0CB56E;
$pos-yellow: #EDAC39;
$pos-red: #D64B5D;
$pos-dark: #2C363E;
$pos-blue: #0f8df2; // 008eff <-lighter
$pos-secondary: #6c757d;
$colors: ("light-two": $light_two,"light-three": $light_three,"green": $pos-green,"yellow": $pos-yellow,"red": $pos-red,"dark": $pos-dark, 'blue': $pos-blue);

