.current-orders {
    position: sticky;
    top: 50px;
    .orders-row {
        height: calc(100vh - 328px);
        max-height: calc(100vh - 326px);
        overflow-y: scroll;
        table {
            tbody {
                tr {
                    td {
                        vertical-align: middle;
                        font-size: 14px;
                    }

                }
            }
        }
    }
    @include textselect(none);
}